services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    PhpArsenal\SalesforceMapperBundle\:
        resource: '../../*'
        exclude: '../../{Tests}'

    PhpArsenal\SalesforceMapperBundle\Mapper:
        arguments:
            - '@salesforce.soap_client'
            - '@PhpArsenal\SalesforceMapperBundle\Annotation\AnnotationReader'
            - '@PhpArsenal\SalesforceMapperBundle\Cache\FileCache'
            - '%salesforce_mapper.document_classes%'

    PhpArsenal\SalesforceMapperBundle\Cache\FileCache:
        arguments:
            - '%kernel.cache_dir%/salesforce'

    PhpArsenal\SalesforceMapperBundle\Annotation\AnnotationReader: ~

    PhpArsenal\SalesforceMapperBundle\MappedBulkSaver:
        arguments:
            - '@salesforce.soap_client.bulk_saver'
            - '@PhpArsenal\SalesforceMapperBundle\Mapper'
            - '@PhpArsenal\SalesforceMapperBundle\Annotation\AnnotationReader'

    PhpArsenal\SalesforceMapperBundle\Builder\SalesforceDocumentClassTreeBuilder:
        public: true
        arguments:
            - '@PhpArsenal\SalesforceMapperBundle\Annotation\AnnotationReader'
            - '%doctrine_mongodb.mongodb.odm.document_classes%'
